@font-face {
font-family:"Alfa Slab";
src: url('../font/AlfaSlabOne-Regular.ttf');

}
/***Media Queries Desk ***/
@media only screen and (min-width: 1224px) {
    body {
        background-image: url("../img/background.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: Arial, 'Times New Roman', Times, serif;
        margin: 0 350px 0 350px;
    }

/**** video positioning *****/
video{
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}    
/*** company logo  ***/
.top {
    background-image: url("../img/companylogoBG.jpg");
    background-repeat: no-repeat;
    background-size: 100% 170%;
    padding: 20px;
    margin-top: 0;
}




.top h1 {
    text-align: center;
    color:#ffffff;
    font-size: 333%;
    text-shadow: 3px 3px #000000;
    font-family: 'Alfa SLab', sans-serif;
}

.top a {
    text-decoration: none;
}

.top a:hover {
    cursor: grab;
}


/* styling navigation */

nav {
    background-color: #707070;
    padding: 10px;
    margin: 1px;
}


/* styling of drop down menu */
.drop_down {
    margin: 0px 0px 15px 2px;
}

/* styling of text in drop down menu */
.drop_down select {
    margin-left: 100px;
    padding: 3px 0 3px 0px;
    width: 72%;
    font-size: 91%;
    color: #444444;
    background-color: #ffffff;
}

    /* styling of label of drop down menu */
    .drop_down label {
        color: #AAAAAA;
    }


 /* styling text of link in navigation */
 ul {
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

li { 
    display: inline;
    margin: 0 10px;
 }

li a {
    color: #ffffff;
    text-decoration: none;
}

/*** show_hide html *****/
.show_nav1, .show_title2 {
    display: none;
}


/*** styling of the sections ****/
.entertainment {
    background-color:#2899FB;
    margin: 0px;
    padding: 10px;
}

/**** styling of header inside the section ****/
.entertainment h2 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 208%;
    font-weight: 100;
    margin: 0px;
}

    /**** styling of the images ****/
    img {
        width: 100%;
        height: 348px;
        margin-bottom: -6px;
    }


        /**** styling of the footer ****/
        footer {
            background-color: #000000; 
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 30px;
        }


         /****** text in footer P tag ****/
    footer p {
        color: #ffffff;
        text-align: center;
        margin: 0px;
        padding: 0px;
        
    }   

    
        /**** styling of page title inside the section *****/

        .page_title {
            background-color:#2899FB;
            margin: 0px;
        }


         /***** Styling the page title ******/

    .page_title h2 {
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        font-size: 375%;
        font-weight: 100;
        padding: 10px;
        margin: 0px;
    }


    /* styling of products container */
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        background-color: #ffffff;
    }

    .flex-container section {
        width: 250px;
        margin: 12px 10px 11px 10px;
        flex-grow: 1;
        padding-bottom: 230px;
    }
    
    .flex-container h3, h4 {
        display: none;
    }


    /*** Images in grid lay ***/
    .product1 {
        background-image: url("../img/product1.jpg");   
        background-size: 100% 100%;
    }
    .product2 {
        background-image: url("../img/product2.jpg");   
        background-size: 100% 100%;
    }
    .product3 {
        background-image: url("../img/product3.jpg");   
        background-size: 100% 100%;
    }
    .product4 {
        background-image: url("../img/product4.jpg");   
        background-size: 100% 100%;
    }
    .product5 {
        background-image: url("../img/product5.jpg");   
        background-size: 100% 100%;
    }
    .product6 {
        background-image: url("../img/product6.jpg");   
        background-size: 100% 100%;
    }
    .product7 {
        background-image: url("../img/product7.jpg");   
        background-size: 100% 100%;
    }
    .product8 {
        background-image: url("../img/product8.jpg");   
        background-size: 100% 100%;
    }
    .product9 {
        background-image: url("../img/product9.jpg");   
        background-size: 100% 100%;
    }
    .product10 {
        background-image: url("../img/product10.jpg");   
        background-size: 100% 100%;
    }
    .product11 {
        background-image: url("../img/product11.jpg");   
        background-size: 100% 100%;
    }
    .product12 {
        background-image: url("../img/product12.jpg");   
        background-size: 100% 100%;
    }
    




        /****Form Styling ****/
.contact_form {
    background-color: #ffffff;
    padding-top: 1px;
}

.contact_form form {
    margin-left: 60px;
    margin-right: 60px;
}

/* styling of p tag in form */
.contact_form h5 {
    color: #4d4d4d;
    margin-left: 20px;
    font-size: 116%;
    font-weight: 100;
}


    /* styling of input fields */
    .contactFormFieldset {
        margin-bottom: 15px;
    }

    .contactFormFieldset input[type=text], input[type=email] {
        border: none;
        outline: none;
        width: 100%;
        font-size: 100%;
        color: #AAAAAA;
    }


    /* styling of text area */
    .text textarea {
        border: none;
        outline: none;
        width: 100%;
        font-size: 108%;
        font-family: Arial;
    }
    
    

        /* styling of submit button */
        .button {
            width: 100%;
            margin: 15px 2px 40px 2px;
            padding: 10px 0px 10px 0px;
            background-color: #2899FB;
            border: none;
        }
    
        input[type=submit] {
            color: #ffffff;
            font-size: 125%;
            
        }
    }

    /* Final part of Desktop Media Qeury */


    /* media query for tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        font-family: Arial, 'Times New Roman', Times, serif;
        margin: 0px;
    }
    
    /* styling of video */
    video {
        display: none;
    }



 /* styling of background image in top of the webpage */
 .top {
    background-image: url("../images/companylogoBG.jpg");
    background-repeat: no-repeat;
    background-size: 100% 170%;
    padding: 20px;
    margin-top: 0px;
}



    /* styling header*/
    .top h1 {
        text-align: center;
        color:#ffffff;
        font-size: 583%;
        text-shadow: 3px 3px #000000;
    }


    .top a {
        text-decoration: none;
    }


        /* styling navigation */
        nav {
            background-color: #707070;
            text-align: center;
            padding: 10px;
            margin: 2px;
        }



     /* styling text of link in navigation */
     ul {
        text-align: center;
        list-style-type: none;
        text-transform: uppercase;
        padding: 0px;
        margin: 0px;
    }
    
    


    li { 
        display: inline;
        margin: 0 10px;
     }




     li a {
        font-size: 216%;
        color: #ffffff;
        text-decoration: none;
    }



        /* styling of sections */
        .entertainment {
            background-color:#2899FB;
            margin: 0px;
            padding: 20px;
            clear: both;

        }
    /* styling of header in section */
    .entertainment h2 {
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        font-size: 458%;
        font-weight: 100;
        margin: 0px;
    }

    
    
        /* styling of images */
        .picture1 {
            width: 49%;
            height: 350px;
            margin: 10px 0px 10px 5px;
            float: left;
        }
    
        .picture2 {
            width: 49%;
            height: 350px;
            margin: 10px 0px 10px 10px;
            float: left;
        }


            /* hide html elements */
    .show, .show_nav1 {
        display: none;
    }


        /* style specific image */
        .picture3 {
            height: 390px;
            width: 100%;
            margin-bottom: -7px;
        }


            /* styling of footer */
    footer {
        background-color: #000000; 
        padding: 0px;
        margin: 0px;
    }


        /* styling of text in footer */
        footer p {
            color: #ffffff;
            text-align: center;
            margin: 0px;
            padding: 16px 0px 16px 0px;
            font-size: 175%;
            
        }


            /* styling of page title in section */


    .page_title {
        background-color:#2899FB;
        margin: 0px;
    }


        /* styling page title */
        .page_title h2 {
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            font-size: 375%;
            padding: 10px;
            margin: 0px;
            display: none;
        }


            /* styling of products container */
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        background-color: #ffffff;
    }


    .flex-container section {
        width: 330px;
        margin: 12px 10px 11px 10px;
        flex-grow: 1;
        padding-bottom: 300px;
    }

    .flex-container h3, h4 {
        display: none;
    }


        /*** Images in grid lay ***/
        .product1 {
            background-image: url("../img/product1.jpg");   
            background-size: 100% 100%;
        }
        .product2 {
            background-image: url("../img/product2.jpg");   
            background-size: 100% 100%;
        }
        .product3 {
            background-image: url("../img/product3.jpg");   
            background-size: 100% 100%;
        }
        .product4 {
            background-image: url("../img/product4.jpg");   
            background-size: 100% 100%;
        }
        .product5 {
            background-image: url("../img/product5.jpg");   
            background-size: 100% 100%;
        }
        .product6 {
            background-image: url("../img/product6.jpg");   
            background-size: 100% 100%;
        }
        .product7 {
            background-image: url("../img/product7.jpg");   
            background-size: 100% 100%;
        }
        .product8 {
            background-image: url("../img/product8.jpg");   
            background-size: 100% 100%;
        }
        .product9 {
            background-image: url("../img/product9.jpg");   
            background-size: 100% 100%;
        }
        .product10 {
            background-image: url("../img/product10.jpg");   
            background-size: 100% 100%;
        }
        .product11 {
            background-image: url("../img/product11.jpg");   
            background-size: 100% 100%;
        }
        .product12 {
            background-image: url("../img/product12.jpg");   
            background-size: 100% 100%;
        }
        /


            /**** Form styling****/
    .contact_form {
        background-color: #ffffff;
        padding-top: 1px;
    }

    .contact_form form {
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 80px;
        margin-bottom: 203px;
    }

        /* styling of h5 tag in form */
        .contact_form h5 {
            color: #4d4d4d;
            margin-left: 20px;
            font-size: 116%;
            font-weight: 100;
            display: none;
        }

            /* styling of drop down menu */
    .drop_down {
        margin: 0px 0px 15px 2px;
        padding-top: 10px;
        padding-bottom: 20px;
    }

        /* styling of text in drop down menu */
        .drop_down select {
            padding: 3px 0 3px 0px;
            width: 99%;
            font-size: 166%;
            color: #444444;
            margin: 20px 15px 0px 4px;
            background-color: #ffffff;
        }

            /* styling of label of drop down menu */
    .drop_down label {
        color: #AAAAAA;
        font-size: 166%;
    }

        /* styling of input fields */
        .contactFormFieldset {
            margin-bottom: 15px;
        }


        .contactFormFieldset input[type=text], input[type=email] {
            border: none;
            outline: none;
            width: 100%;
            font-size: 166%;
            color: #AAAAAA;
        }

            /* styling of text area */
    .text textarea {
        border: none;
        outline: none;
        width: 100%;
        font-size: 183%;
        font-family: Arial;
    }


        /* styling of submit button */
        .button {
            width: 100%;
            margin: 15px 2px 40px 2px;
            padding: 10px 0px 10px 0px;
            background-color: #2899FB;
            border: none;
        }


        input[type=submit] {
            color: #ffffff;
            font-size: 208%;
            
        }
       
    }  

/* end of media query tablet */

@media only screen and (min-width: 300px) and (max-width: 480px) {

    body {
        font-family: Arial, 'Times New Roman', Times, serif;
        margin: 0px;
    }


    /* styling of video */
    video {
        display: none;
    }
    

        /* styling of background image in top of the webpage */
        .top {
            background-image: url("../images/companylogoBG.jpg");
            background-repeat: no-repeat;
            background-size: 100% 170%;
            padding: 3px;
            margin-top: 0px;
        }


       /* styling header*/
       .top h1 {
        text-align: center;
        color:#ffffff;
        font-size: 250%;
        text-shadow: 3px 3px #000000;
    }

    
    .top a {
        text-decoration: none;
    }
    
    /* styling navigation */
    nav {
        background-color: #707070;
        text-align: center;
        padding: 1px;
        margin: 4px;
    }
    
    /* styling text of link in navigation */
    nav a {
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        padding: 10px;
        font-size: 157%;
    }


        /* hide html elements */
        .show_nav2, .show_title1 {
            display: none;
        }



            /*** Hamburger Menu***/
  
            #Hamburger_menu_switch
            {
                display: block;
                position: relative;
                top: 2px;
                left: 1px;
            }
            
            #hamburger_menu_toggle input
            {
                display: block;
                width: 35px;
                height: 36px;
                position: absolute;
                top: -7px;
                left: -5px;
                opacity: 0;
                z-index: 2;            
            }
            
            #hamburger_menu_toggle span
            {
                display: block;
                width: 33px;
                height: 8px;
                margin-bottom: 4px;
                position: relative;
                background-color: #ffffff;
                z-index: 1;
            }
            
            #hamburger_menu_toggle input:checked ~ span
            {
                opacity: 1;
                background-color: #000000;
            }
            
            #hamburger_menu
            {
                position: absolute;
                width: auto;
                height: 20px;
                margin: -44px 0px 0px -14px;
                padding: 45px 55px 179px 55px;
                background-color: #0099cc;
                list-style-type: none;
                transform-origin: 0% 0%;
                transform: translate(-100%, 0);
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
            }
            
            #hamburger_menu li
            {
                padding: 0px 0;
                font-size: 137%;
                color: #ffffff;
                border-bottom: solid #000000;
            }
            
            #hamburger_menu_toggle input:checked ~ ul
            {
                transform: none;
            }
        /* end hamburger menu */



    #content > section:nth-child(6), #content > section:nth-child(8), #content > section:nth-child(10) {
        display: none;
    }



        /* styling of sections */
        .entertainment {
            background-color:#2899FB;
            margin: 0px 0px 6px 0px;
            padding: 11px;
        }


    /* styling of header in section */
    .entertainment h2 {
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        font-size: 216%;
        font-weight: 100;
        margin: 0px;
    }


        /* styling of images */
        img {
            width: 98%;
            height: 182px;
            margin: 0px 0px 2px 4px;
        }



            /* styling of footer */
    footer {
        background-color: #000000; 
        padding: 0px;
        margin: 0px;
    }


        /* styling of text in foorter */
        footer p {
            color: #ffffff;
            text-align: center;
            margin: 0px;
            padding: 16px 0px 16px 0px;
            font-size: 108%;
            
        }



            /* styling of page title in section */

    .page_title {
        background-color:#2899FB;
        margin: 0px;
    }
    
    /* styling page title */
    .page_title h2 {
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        font-size: 291%;
        font-weight: 100;
        padding: 10px;
        margin: 0px;
    }


        /* styling of products container */
        .flex-container {
            display: flex;
            flex-wrap: wrap;
            background-color: #ffffff;
        }
        
        .flex-container section {
            width: 330px;
            margin: 12px 10px 11px 10px;
            flex-grow: 1;
            padding-bottom: 231px;
        }



        .flex-container h3, h4 {
            display: none;
        }

    
        
            /* styling of text area */
            .text textarea {
                border: none;
                outline: none;
                width: 100%;
                font-size: 133%;
                font-family: Arial;
            }

            .button {
                width: 100%;
                margin: 15px 2px 20px 2px;
                padding: 10px 0px 10px 0px;
                background-color: #2899FB;
                border: none;
            }

            input[type=submit] {
                color: #ffffff;
                font-size: 141%;
                
            }
            
            
        }


        /*** Images in grid lay ***/
    .product1 {
        background-image: url("../img/product1.jpg");   
        background-size: 100% 100%;
    }
    .product2 {
        background-image: url("../img/product2.jpg");   
        background-size: 100% 100%;
    }
    .product3 {
        background-image: url("../img/product3.jpg");   
        background-size: 100% 100%;
    }
    .product4 {
        background-image: url("../img/product4.jpg");   
        background-size: 100% 100%;
    }
    .product5 {
        background-image: url("../img/product5.jpg");   
        background-size: 100% 100%;
    }
    .product6 {
        background-image: url("../img/product6.jpg");   
        background-size: 100% 100%;
    }
    .product7 {
        background-image: url("../img/product7.jpg");   
        background-size: 100% 100%;
    }
    .product8 {
        background-image: url("../img/product8.jpg");   
        background-size: 100% 100%;
    }
    .product9 {
        background-image: url("../img/product9.jpg");   
        background-size: 100% 100%;
    }
    .product10 {
        background-image: url("../img/product10.jpg");   
        background-size: 100% 100%;
    }
    .product11 {
        background-image: url("../img/product11.jpg");   
        background-size: 100% 100%;
    }
    .product12 {
        background-image: url("../img/product12.jpg");   
        background-size: 100% 100%;
    }
    



        /* styling of form */
        .contact_form {
            background-color: #ffffff;
            padding-top: 1px;
        }
        
        .contact_form form {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 45px;
        }
        
        /**** h5 tag in form ****/
        .contact_form h5 {
            color: #707070;
            margin-left: 20px;
            font-size: 116%;
            font-weight: 100;
            display: none;
        }


            /**** Drop Down general style ****/
    .drop_down {
        margin: 0px 0px 15px 2px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
    /**** Text Dropdown ****/
    .drop_down select {
        padding: 3px 0 3px 0px;
        width: 100%;
        font-size: 116%;
        color: #444444;
        margin-top: 20px;
        background-color: #ffffff;
    }
    
    /**** Drop Down Menu ***/
    .drop_down label {
        color: #AAAAAA;
        font-size: 116%;
    }



        /***** Input fields *****/
        .contactFormFieldset {
            margin-bottom: 15px;
        }


        .contactFormFieldset input[type=text], input[type=email] {
            border: none;
            outline: none;
            width: 100%;
            font-size: 116%;
            color: #AAAAAA;
        }

    


    
    




